@model System.Security.Claims.ClaimsPrincipal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret</title>
    Sucess
    @foreach (var claim in Model.Claims)
    {
        <p>
            @claim.Value
        </p>
    }
</head>
<body>
</body>
</html>
